{% extends 'app/main.html'%}
{% load static %}
{% block content %}
<title>gallery</title>
<div id="body">
    <h1><span>Latest Updates</span></h1>
    <div>
        <img src="{% static 'app/images/99-nissan-gt-r-nismo-2020-hero-front_0.jpg' %}">
    </div>
</div>

    <div class="yclass">
        <img src="{%static 'app/images/speed.webp' %}" style="width:400px; margin: 3px;">

        <img src="{%static 'app/images/power.jpg' %}" style="width:400px; margin: 3px;">

        <img src="{%static 'app/images/modern.jpg' %}" style="width:400px; margin: 3px;">
        <img src="{%static 'app/images/speed.webp' %}" style="width:400px; margin: 3px;">

        <img src="{%static 'app/images/power.jpg' %}" style="width:400px; margin: 3px;">

        <img src="{%static 'app/images/modern.jpg' %}" style="width:400px; margin: 3px;">


 
    </div>
   
    <br><br>


{% endblock content%}